.emergency-button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.emergency-button:hover {
  background-color: darkred;
}

.emergency-button.active {
  background-color: #ff4757;
  color: white;
}
